/* SITE-WIDE SYLE */

body{
    padding-top: 50px;
    font-size:10pt;
    background-color:rgb(237,237,237);
    background-image:url(../img/bg.png);
    background-repeat:repeat;
    background-attachment:fixed;
}

h1{
    font-size:80px;
    color:rgb(103,140,195);
}

h2,h3,h4,h5,h6{
    color:rgb(103,140,195);
}

.label {
    text-transform: uppercase;
    font-size: 8pt;
    letter-spacing: 1px;
}

.label-info {
    background-color: rgb(103,140,195);
}


/* NAV */

.navbar{
    background-color:rgba(255,255,255,0.95);
    border-bottom-color:rgb(103,140,195);
    border-bottom-width:2px;
    border-bottom-style:solid;
    
    font-weight:bold;
    letter-spacing:2px;
    text-transform:uppercase;
}

.navbar-default .navbar-nav li a{
    color:rgb(103,140,195);
}

.navbar-default .navbar-nav .active{
    border-bottom-color:rgb(215,17,17);
    border-bottom-width:4px;
    border-bottom-style:solid;
}

.navbar-default .navbar-nav .active a{
    color:rgb(215,17,17);
    background-color:rgba(103,140,195,0.1);
}

.navbar .navbar-brand {
    color:rgb(103,140,195);
    text-transform: none;
    font-size: 19pt;
    display: none;
}

.navbar button.navbar-toggle {
    border-color: #808080;
}

.navbar button.navbar-toggle .icon-bar {
    background-color: #808080;
}


/* FOOTER */

footer{
    margin:25px;
    text-align:center;
    padding:20px;
}

footer div{
    margin:0;
    padding:0;
    font-size: 9pt;
}
