/* HOME PAGE SYTLE */


/* SECTION IMAGES */

#projects-img{
    background:url(../img/projects-img.jpg) 50% 0 no-repeat #000;
}

#publications-img{
    background:url(../img/publications-img.jpg) 50% 0 no-repeat #000;
}

#talks-img{
    background:url(../img/talks-img.jpg) 50% 0 no-repeat #000;
}

#teaching-img{
    background:url(../img/teaching-img.jpg) 50% 0 no-repeat #000;
}

#press-img{
    background:url(../img/press-img.jpg) 50% 0 no-repeat #000;
}

#all-press-img{
    background:url(../img/press-img.jpg) 50% 80% no-repeat #000;
}

/* SHARED STYLE ELEMENTS */

.badge-publication{
    font-size:9pt;
    letter-spacing:1px;
    font-weight:bold;
    margin-bottom: 10px;
}

.badge-award{
    font-size:8pt;
    text-transform:uppercase;
    color:rgb(215,17,17);
    font-weight:bold;
    margin-bottom: 10px;
}

.badge-video{
    font-size:8pt;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-bottom:10px;
}

.row-item-date {
    font-size: 8pt;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#808080;
}

.pub-item {
    margin-bottom: 35px;
}

.pub-item-award {
    color:rgb(215,17,17);
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: bold;
    margin-top: 10px;
}

.pub-item-acceptance {
    color: #808080;
    font-size: 9pt;
    margin-top: 10px;
}

.authorHighlight {
    font-weight: bold;
}

/* HOME */

#home-img{
    width:100%;
    max-width:1600px;
    background:url(../img/home-img.jpg) 50% 0 no-repeat fixed #000;
    min-height:940px;
    height:940px;
}

#home .content{
    position:absolute;
    top:0;
    left:50%;
    max-width:1600px;
}

#home .content-inner{
    width:100%;
    max-width:600px;
    min-height:941px;
    
    background-color:rgba(255,255,255,0.95);
    border-bottom-color:rgb(103,140,195);
    border-bottom-width:8px;
    border-bottom-style:solid;
}

#home .introduction{
    padding:180px 40px 50px 40px;
}

#home .introduction .emphasis {
    font-weight: bold;
}

#home .introduction .plain-only {
    display: none;
}

#home .introduction .intro-message{
    text-align:justify;
}

#home h1{
    margin:0px;
    padding:0px;
    line-height:70px;
}

/* hack for IE */
.msie #home h1{
    font-size:75px;
}
.msie #home .lead{
    font-size:25px;
}

#home .lead{
    margin:0px;
    padding:0px;
    font-size:26px;
    letter-spacing:1px;
    color:rgb(103,140,195);
}

#home .row{
    margin-left:0px;
    margin-right:0px;
}

#home .timeline{
    font-size:8pt;
    padding:20px 20px 25px 20px;
}

#home .timeline dl{
    margin: 0;
}

#home .timeline dl dt{
    width:90px;
    text-transform:uppercase;
    color:rgb(103,140,195);
    font-size:11px;
}

#home .timeline dl dd{
    margin-left:100px;
}

#home .timeline .past {
    color:#B0B0B0;
}

#home .contact{
    font-size:12px;
    background-color:rgba(103,140,195,0.1);
    padding:20px 40px 5px 40px;
    border-left: solid 2px rgb(103,140,195);
}

#home .contact strong {
    color:rgb(103,140,195);
    text-transform:uppercase;
    font-size:11px;
}

#home .contact .bio-links dl dt {
    width:32px;
}

#home .contact .bio-links dl dd {
    margin-left: 42px;
    line-height: 30px;
    font-size:10pt;
}

/* PROJECTS */

.section-projects .projects-project {
    padding-top: 15px;
}

.section-projects .panel {
    margin-bottom:0;
}

.section-projects .panel a {
    text-decoration: none;
}

.section-projects .panel .panel-heading {
    background-color: white;
}

.section-projects .panel .panel-heading:hover {
    background-color: rgb(230,240,255);
}

.section-projects .projects-project .thumbnail-container {
    width: 130px;
    height: 130px;
    padding: 0;
}

.section-projects .projects-project .thumbnail {
    width: 120px;
    height: 120px;
}

.section-projects .projects-project .projects-title{
    font-size:16pt;
    color:rgb(103,140,195);
}

.section-projects .projects-project .projects-action-link{
    font-size: 8pt;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 5px;
}

.section-projects .projects-project .projects-summary{
    text-align: justify;
}

.section-projects .projects-project .projects-description{
    margin-bottom:30px;
    text-align: justify;
}

.section-projects .projects-project .projects-press-heading h5{
    font-weight: bold;
}

.section-projects .projects-project .projects-press{
    padding-left: 15px;
}

.section-projects .projects-press-item {
    font-size: 8pt;
    margin-bottom: 5px;
}

.section-projects .projects-project .projects-permalink {
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 8pt;
    margin-bottom: 10px;
}

.section-projects .projects-project .badge-info {
    margin-bottom: 5px;
}

.section-projects .projects-project .projects-publication-item {
    margin-bottom: 15px;
}

.section-projects .projects-project .projects-publication-item .glyphicon {
    float: left;
    margin-right: 5px;
}

.section-projects .projects-project .projects-publication-body {
    display: table-cell;
    font-size: 8pt;
}

/* PUBLICATIONS */

/* TALKS */

/* TEACHING */

.section-teaching .course {
    margin-bottom: 15px;
}

.section-teaching .course:hover {
    background-color: rgb(230,240,255);
}

.section-teaching .course a {
    text-decoration: none;
}

.section-teaching .course .panel-body{
    padding-left: 30px;
    padding-right: 30px;
}

.section-teaching .course-title{
    font-size:16pt;
    color:rgb(103,140,195);
    padding-bottom: 10px;
}

.section-teaching .course-instance {
    padding-left: 15px;
    margin-bottom: 5px; 
    color:#808080;
    font-size:9pt;
}

.section-teaching .course-term {
    font-style: italic;
}

.section-teaching .course-desc {
    padding: 10px 5px 5px 0px;
    color: #464646;
    text-align: justify;
}


/* PRESS */

.section-press .press-featured-subject{
    font-size: 16pt;
    text-align: center;
}

.section-press .press-featured-source{
    display: inline-block;
    vertical-align: bottom;
    padding: 10px 10px 10px 10px;
}

.section-press .press-featured-logo{
    display: block;
}

.section-press .press-featured-dates{
    display: block;
    float:left;
    width: 100%;
    text-align: center;
}

.section-press .press-featured-date{
    display: inline;
}

/* ALL PRESS LIST */

.section-all-press .press-title{
    font-size: large;
}

.section-all-press .press-article{
    margin-top:15px;
    margin-bottom:15px;
}

.section-all-press .press-article .press-author{
    display:inline;
}

.section-all-press .press-article .press-publication{
    display:inline;
    font-style:italic;
}
