RewriteEngine on

# redirect (and mask) the staging subdomain to the staging directory
RewriteCond %{HTTP_HOST} staging.gabeacohn.com$ [NC]
RewriteRule !^staging(/|$) /staging%{REQUEST_URI} [L] # redirect if not /staging
RewriteRule ^staging(/|$) - [L] # don't redirect if in /staging

# permanent redirection for old website addresses
RewriteRule ^about/cv.pdf$ /pdf/Cohn_CV.pdf [NC,L,R=permanent]
RewriteRule ^about(/|$) / [NC,L,R=permanent]
RewriteRule ^research/projects/snupi /SNUPI [NC,R=permanent]
RewriteRule ^research/projects/heatWave /#heatwave [NC,NE,R=permanent]
RewriteRule ^research/projects/gasSense /#gassense [NC,NE,R=permanent]
RewriteRule ^research/projects/electionFraud /#electionfraud [NC,NE,R=permanent]
RewriteRule ^research/projects/cadFeeds /#antennacad [NC,NE,R=permanent]
RewriteRule ^research/projects/netlab /#netlab [NC,NE,R=permanent]
RewriteRule ^research/projects/newModeling /#rrsl06 [NC,NE,R=permanent]
RewriteRule ^research/projects/lmaFitting /#rrsl05 [NC,NE,R=permanent]
RewriteRule ^research/pubs /#publications [NC,NE,L,R=permanent]
RewriteRule ^research/media /#press [NC,NE,L,R=permanent]
RewriteRule ^research(/|$) / [NC,L,R=permanent]
RewriteRule ^teaching$ /#teaching [NC,NE,L,R=permanent]
RewriteRule ^teaching/$ /#teaching [NC,NE,L,R=permanent]
RewriteRule ^teaching/index /#teaching [NC,NE,L,R=permanent]

# masked (don't change URL) redirection of specific project names
RewriteRule ^SNUPI$ /#snupi [NC,NE,L,R]
RewriteRule ^Humantenna$ /#humantenna [NC,NE,L,R]
RewriteRule ^StaticEF$ /#sefs [NC,NE,L,R]

# redirect some pages (temporarily) back to sockeye.cs.washington.edu
RewriteRule ^teaching/(.+) http://sockeye.cs.washington.edu%{REQUEST_URI} [NC,L,R=temp]
RewriteRule ^photos http://sockeye.cs.washington.edu%{REQUEST_URI} [NC,L,R=temp]
RewriteRule ^projects http://sockeye.cs.washington.edu%{REQUEST_URI} [NC,L,R=temp]
RewriteRule ^tmp http://sockeye.cs.washington.edu%{REQUEST_URI} [NC,L,R=temp]
